.body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    margin: 0;
    padding: 0;
    margin-left: 70px;
    margin-right: 70px;
    color: #333333;
}

h1 {
    font-family: "Markazi Text", serif;
    margin: 0;
    font-size: 48pt;
    color: #F4CE14;
}

h2 {
    font-family: "Markazi Text", serif;
    margin: 0;
    font-size: 30pt;
    color: #495E57;
}

h3 {
    font-family: "Karla", sans-serif;
    margin: 0;
}

p {
    font-family: "Karla", sans-serif;
    text-align: justify;
    font-size: 20pt;
}

button {
    padding: 16px;
    border-radius: 16px;
    border: none;
    background-color: #495E57;
    color: white;
    font-family: "Markazi Text", serif;
    font-size: 18pt;
    cursor: pointer;
}

button:hover {
    background-color: #333333;
    transition: 1s;
}

button:disabled {
    background-color: grey;
    color: rgb(191, 188, 188);
    cursor: not-allowed;
}

header {
    grid-column: 3 / 11;
    display: grid;
    grid-template-columns: auto 1fr;
    padding-top: 20px;
}

header img {
    width: 250px;
    padding-right: 70px;
}

nav {
    display: flex;
    align-items: center;
    margin-top: 6px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Markazi Text", serif;
    font-size: 19pt;
    color: #495E57;
}

ul a {
    text-decoration: none;
    color: #495E57;
}

ul a:hover {
    color: #F4CE14;
    transition: 1s;
}

.hero-section {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column: 3 / 11;
    padding: 0 20px 20px 20px;
    background-color: #EDEFEE;
    align-items: center;
}

.hero-section img {
    height: 300px;
    margin-left: 20px;
    border-radius: 16px;
}

.specials-section {
    display: grid;
    grid-column: 3 / 11;
}

.specials-heading {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 20px;
}

.specials-section h2 {
    font-size: 40pt;
}

.specials-section h3 {
    font-size: 18pt;
}

.specials-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.specials-card article {
    background-color: #EDEFEE;
    border-radius: 16px 16px 0 0;
}

.dish-image {
    border-radius: 16px 16px 0 0;
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.dish-details {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 0 20px 0 20px;
}

.dish-details p {
    color: red;
    font-size: 18pt;
}

.card-description {
    padding: 0 20px 0 20px;
    font-size: 16pt;
}

.order-delivery {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0 20px 20px 20px;
    align-items: center;
}

.delivery-logo {
    height: 16pt;
}

.testimonials-section {
    display: grid;
    grid-column: 3 / 11;
    padding: 20px;
    margin: 20px 0 20px 0;
    background-color: #EDEFEE;
}

.testimonials-section h2 {
    text-align: center;
    font-size: 40pt;
    margin-bottom: 20px;
}

.testimonials-section section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.testimonials-section article {
    background-color: white;
    border-radius: 16px;
    padding: 20px;
}

.rating {
    display: grid;
    grid-template-columns: repeat(5, 1fr) auto;
}

.filled-star {
    color: #F4CE14;
}

.empty-star {
    color: #EDEFEE;
}

.testimonials-section p {
    font-size: 14pt;
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: 3 / 11;
}

footer img {
    height: 200px;
}

footer div {
    display: flex;
    flex-direction: column;
}

footer h2 {
    color: #F4CE14;
    font-size: 30px;
}

.about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 3 / 11;
    padding-bottom: 20px;
    align-items: center;
}

.image-section {
    position: relative;
    height: 260px;
}

.image {
    height: 200px;
    width: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.image-b {
    top: 60px;
    left: 100px;
    position: relative;
}

.image-a {
    position: absolute;
    right: 80px;
}

form {
    grid-column: 5 / 10;
    display: grid;
    width: 400px;
    font-family: "Markazi Text", serif;
    font-size: 20pt;
    color: #495E57;
    background-color: #EDEFEE;
    padding: 20px;
    border-radius: 16px;
}

form input, select {
    font-family: "Markazi Text", serif;
    font-size: 16pt;
    color: grey;
    border-radius: 8px;
    border-width: 1px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
}

form button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

form p {
    margin: 0;
    margin-bottom: 20px;
}

.alert {
    color: red;
    font-size: 12pt;
    margin-bottom: 0;
}

.bookingConfirmation {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 5 / 10;
    padding-bottom: 20px;
    text-align: center;
}

button a {
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    .body {
        display: flex;
        flex-direction: column;
        margin: 10px;
        align-items: center;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    .header-nav {
        margin-bottom: 20px;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 40pt;
    }

    .hero-section {
        grid-template-columns: 1fr;
    }

    .hero-section img {
        margin-left: 0;
        margin-top: 20px;
        max-width: 100%;
        height: auto;
    }

    .specials-card {
        display: flex;
        flex-direction: column;
    }

    .testimonials-section section {
        display: flex;
        flex-direction: column;
    }

    .about-section {
        grid-template-columns: 1fr;
    }

    .image-a {
        position: absolute;
        right: 0;
    }

    .image-b {
        top: 60px;
        left: 0;
        position: relative;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 300px;
        font-family: "Markazi Text", serif;
        font-size: 20pt;
        color: #495E57;
        background-color: #EDEFEE;
        padding: 20px;
        border-radius: 16px;
    }

    .bookingConfirmation {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        text-align: center;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer div {
        margin-bottom: 20px;
        align-items: center;
        text-align: center;
    }

    footer img {
        max-width: 50%;
        height: auto;
        margin-bottom: 20px;
    }
}